body {
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    min-height: 800px;
    background-color: bisque;
}

footer {
    margin-top: auto;
    margin-bottom: 20px;
}